.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.search-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

button {
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 2px;
}

.active {
  background-color: grey;
}

.weather-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 6px;
  max-width: 50vw;
  padding: 20px;
  gap: 15px;
}

.weather-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.weather-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
